name: Deploy
on:
  push:
    tags:
      - v1.*  
jobs:
   define:
    name: Define environment for deploy
    runs-on: ubuntu-latest
    
    env:
      IMAGE: prod
      IMAGE_TEST: test_test
      SERVICE_NAME: check
      TEST_SERVICE_NAME: test
      
    outputs:
        image: ${{ steps.define_env.outputs.image }}
        service: ${{ steps.define_env.outputs.service }}
        
    steps:
      - name: Define environment
        shell: bash
        run: |
          GITHUB_REF=${GITHUB_REF##*/}; echo ${GITHUB_REF##*/}; if [ "${GITHUB_REF##*/}" = "master" ] ;then depimage=$IMAGE; srvName=$SERVICE_NAME; else depimage=$IMAGE_TEST;srvName=$TEST_SERVICE_NAME ; fi
          echo "image=$depimage" >> $GITHUB_OUTPUT
          echo "service=$srvName" >> $GITHUB_OUTPUT
        id: define_env
        
   dockerSetup:
    name: Setup and build docker
    runs-on: ubuntu-latest
    needs: define
    
    env:
      OWNER: mrbelka12000
      
    steps: 
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        
      - name: Docker login
        run: |
          echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u $OWNER --password-stdin 
          
      - name: Docker build
        run: |
          docker build -t $OWNER/${{ needs.define.outputs.image }}:latest .
          
      - name: Docker push
        run: |
          docker push $OWNER/${{ needs.define.outputs.image }}:latest
          
   deploy:
    name: Deploy on server
    runs-on: ubuntu-latest
    needs: [define, dockerSetup]
